html{
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    height: 100%;
}

.slider{
    position: relative;
    width: 50%;
    height: 60%;
    margin: 0 auto;
    overflow: hidden;
}

.slider-inner{
    position: relative;
    width: 100%;
    height: 100%;   
    transition: transform 800ms ease-in-out; 
    display: flex;
    
}

.slider-item{
    width: 100%;
    height: 100%;
}


.slider-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.slider-button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

}
 
.next{
    right: 0;
    
}  

.slider-nav{
    position: relative;
    top:-1.5rem;
    display: flex;
    justify-content: center;
}

.slider-indicator{
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    transition: background-color ease-in-out 300ms;
    background: blueviolet;
    border: none;
    margin: 0 0.5rem;
    cursor: pointer;
}

.slider-indicator.current{
    transition: background-color ease-in-out 300ms;
    background-color: rgb(144, 255, 249);
}

.is-hidden{
    display: none;
}
